<div class="container">
  <h1 class="header">Currency Comparison</h1>
  <form [formGroup]="currencyForm" (ngSubmit)="compareCurrencies()">
  <div class="mat-form-field">
    <label class="base" for="baseCurrency">Base Currency:</label>
    <select id="baseCurrency" formControlName="baseCurrency">
      <!-- Populate the base currency dropdown -->
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </select>
  </div>
  <div class="mat-form-field">
    <label class="target" for="targetCurrency">Target Currency:</label>
    <select id="targetCurrency" formControlName="targetCurrency">
      <!-- Populate the target currency dropdown -->
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </select>
  </div>
  <div class="mat-form-field">
    <label>Start Date:</label>
    <input type="date" id="fromdate"  formControlName="fromDate" required />
  </div>
  <div class="mat-form-field">
    <label>End Date:</label>
    <input id="todate" type="date" formControlName="endDate" required/>
  </div>
  <div>
    <button type="submit" [disabled]="currencyForm.invalid" mat-raised-button color="primary">Compare</button>
  </div>
</form>
  <div>
    <p class="currentRate">Current Exchange Rate: {{ exchangeRate }}</p>
    <!-- <p>TimeSeries Historical Exchange Rate: {{ timeSeriesExchangeRate.join(',') }}</p>
    <p>Date TimeSeries Historical Exchange Rate: {{ dateTimeSeriesExchangeRate.join(',') }}</p> -->
  </div>

<div *ngIf="showChart">
  <apx-chart
    *ngIf="currencyChartOptions"
    [series]="currencyChartOptions.series"
    [legend]="currencyChartOptions.legend"
    [chart]="currencyChartOptions.chart"
    [dataLabels]="currencyChartOptions.dataLabels"
    [plotOptions]="currencyChartOptions.plotOptions"
    [xaxis]="currencyChartOptions.xaxis"
    [tooltip]="currencyChartOptions.tooltip"
    [yaxis]="currencyChartOptions.yaxis"
    [grid]="currencyChartOptions.grid"
    [noData]="currencyChartOptions.noData"
  ></apx-chart>
</div>
</div>